__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.venv/
venv/
ENV/
env/
tests
.idea/
.vscode/
.trae/

*.log
*.tmp
Thumbs.db
Desktop.ini

build/
dist/
*.spec

*.sqlite3
*.db
